html, body {
    height: 100%;
    background: #C5C5C5;
    margin: 0;
    padding: 20px; /* Добавляем внутренний отступ по всем сторонам */
    font-family: "Book Antiqua", serif;
}

h1, h2 {
    margin-top: 10px;
    color: #444B48;
}

#userList {
    list-style: none;
    padding: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #444B48;
    font-weight: 600;
}

select, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #444B48;
}

button {
    background-color: #5C806E;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #444B48;
}

#assignRole {
    margin-top: 10px;
}

